body{
    background-color:#f88ff8;
  display: flex;
  align-items:center;
  justify-content: center;
  min-height: 100vh;
  margin:0;
}
.container{
    background-color:aquamarine;
    border-radius:10px;
    width:400px;
    max-width: 100%;
}
.heading{
    background-color:#0d7d7d;
    border-bottom:1px solid #ff0088;
    padding:20px 40px;
}
.heading h2{
    margin:0; 
}

.form{
    padding:30px 40px;
}

.form-order{
    margin-bottom:10px;
    padding-bottom:20px;
    position:relative;
}

.form-order label{
    display:inline;
}
.form-order input{
    border:3px solid #f8f8f8;
    border-radius:5px;
    display:block;
    font-size: 15px;
    padding:10px;
    width:100%;
}

.form-order.a input{
    border-color:rgb(15, 71, 3);
}

.form-order.b input{
border-color:rgb(240, 17, 17)
}
.form-order.b  small{
color:rgb(240, 17, 17);
visibility: visible;
}
.form-order small{
    color:rgb(240, 17, 17);
    visibility:hidden;
    position:absolute;
    bottom:0px;
}
.form button{
    background-color: #ff0088;
    color:white;
    border:2px solid #0d7d7d;
    display:block;
    font-size:16px;
    padding:10px;
    width:105%;
    border-radius:50px;
}